<!-- general form elements disabled -->
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title"><%= @label %> Orden</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <%= form_for(@invoice) do |f| %>
     
     <% if @invoice.errors.any? %>
    
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
            <!--  <form role="form"> -->
              <!-- textarea -->
                <div class="form-group">
                  <label>Descripcion</label>
                  <%= f.text_area :desc, class: "form-control", row: "3" %>
                </div>

                <!-- text input -->
                <div class="form-group">
                  <label>Cantidad a pagar</label>
                <%= f.text_field :amount, class: "form-control" %>
                                </div>
                 <!-- select -->
                <div class="form-group">
                  <label>Estado</label>
                  <%= f.select :status, Invoice.status_for_select, {}, class: "form-control" %>

                  </div>
                              
                <!-- select -->
                <div class="form-group">
                  <label>Usuario</label>
                  <%= f.select :user_id, Invoice.user_for_select, {}, class: "form-control" %>

                  </div>
                <%= f.submit @button, class: "btn btn-sm btn-info btn-flat pull-left" %>
                <%= link_to('Volver', invoices_path, class: "btn btn-sm btn-info btn-flat pull-right") %>
               
                <% end %>
              <!-- </form> -->
            </div>
            </div>