 

          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Listado de Ordenes</h3>

              
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                  <% if current_user.admin? %>
                    <th>Orden ID</th>
                    <% end %>
                    <th>Cantidad a pagar </th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                     <% if current_user.admin? %>
    
                    <th>Usuario</th>

                    <% end %>
                    
                    <th>Estado</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>

                  <% @invoices.each do |invoice| %>

                  
                  <tr>
                  <% if current_user.admin? %>
                    <td><%= invoice.id %></a>  </td>
                    <% end %>
                    <td><%= invoice.amount %> €</td>
                    <td><%= invoice.desc %> </td>
                    <td><%= invoice.created_at.strftime("%d-%m-%Y")%></td>
                    <% if current_user.admin? %>
    
                    <td><%= invoice.user.name %></td>

                    <% end %>

                    <td><span class="label label-success"><%= invoice.status %></span></td>
                    <td>
                     
                     <% if current_user.admin? %>
                     
                                     
                     <%= link_to('Editar', edit_invoice_path(invoice), class: "btn btn-sm btn-info btn-flat pull-left") %>
                     <%= link_to 'Destroy', invoice, class: "btn btn-sm btn-info btn-flat pull-right", method: :delete, data: { confirm: 'Are you sure?' } %>
                     <% else 
                      if invoice.status != "Pagada" %>

                    <!-- <input class="btn btn-sm btn-info btn-flat pull-left" type="submit" value="Realizar pago"/> -->
                        <%= link_to('Realizar pago', payment_path(invoice), class: "btn btn-sm btn-info btn-flat pull-left") %>

                        <% end %> 
                       
                      <% end %>  
                          
                    </td>
                  </tr>
                 
                  <% end %>
       
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
              <% if current_user.admin? %>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">

             <%= link_to('Nueva Orden', new_invoice_path, class: "btn btn-sm btn-info btn-flat pull-left") %>
            

             
           
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
          <% end %> 
        </div>


