<!-- TABLE: LATEST OPERATIONS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Listado de Operaciones</h3>

              
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>ID operación</th>
                    <th>ID orden</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th>Importe</th>
                    <th>Evento</th>
                    <th></th>
                    
                  </tr>
                  </thead>
                  <tbody>

                  <% @operations.each do |operation| %>
                   
                     <% data = JSON.parse operation.data.gsub("=>nil", "=>\"\"").gsub("=>", ":")  
                        
                      %> 
                  
                  <tr>
                    <td><%= data["id"] %></td>
                    <td><%= link_to(data["order_id"], invoice_path(data["order_id"]), class: "btn btn-sm btn-info btn-flat pull-left")%></td>
                    <td><%= data["metadata"]["user_email"] %></td>
                    <td><%= DateTime.parse(data["created_at"]).strftime("%d-%m-%Y") %></td>
                    <td><%= (data["amount"].to_f/100) %></td>
                    <td><%= operation.event %></td>
                    <th><%= link_to('Detalles', operation, class: "btn btn-sm btn-info btn-flat pull-left") %></th>
                                       
                  </tr>
                 
                  <% end %>
       
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
               </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">

                         
           
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
         
        </div>